<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA814mWcUAtsSX1IrZH2mNPBsWzXMw_blw</string>
	<key>GCM_SENDER_ID</key>
	<string>232062336767</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kcs.socialsync</string>
	<key>PROJECT_ID</key>
	<string>socialsync-33f42</string>
	<key>STORAGE_BUCKET</key>
	<string>socialsync-33f42.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:232062336767:ios:a71deae5e6b0a987b056ca</string>
</dict>
</plist>